@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-left {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.show,
.fade-left.show {
  opacity: 1;
  transform: translate(0);
}

.animate-scale-in {
  animation: scaleIn 1s forwards;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.glow {
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
  }
  to {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  }
}

.animate-fade-in-out {
  opacity: 0;
  animation: fadeInOut 8s infinite;
}

.animation-delay-4s {
  animation-delay: 4s;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

